@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Kavivanar&family=Roboto:wght@100..900&display=swap');

@media print {
  body * {
    visibility: hidden !important;
  }

  #print-receipt,
  #print-receipt * {
    visibility: visible !important;
  }

  #print-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm;
    margin: 0;
    padding: 0;
    box-shadow: none !important;
    background: white !important;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    font-size: 12px;
    padding: 4px;
  }

  button {
    display: none !important;
  }
}
